<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  
  
  <thead>
    <tr>
      <th>Blog Date</th>
      <th>Title</th>
      <th>Body</th>
      <th colspan="4"></th>
    </tr>
  </thead>

</table>


  <tbody>
    <% cache do %>
      <%= render partial: @blogs, spacer_template: 'blog_ruler' %>
    <% end %>
  </tbody>

<br>

<%= link_to 'New Blog', new_blog_path %>
