<div class="navbar-style collapse" id="navbarHeader">
  <div class="container nav-list">
    <div class="row">
      <div class="col-md-8 py-4">
        <%= nav_helper 'navitem-space nav-left', 'span' %>
        <%= login_helper %>
      </div>
      <div class="nav-right col-md-4 py-4">
           <h3>iOS + Rails Developer</h3>
        </div>
    </div>
  </div>
</div>

<div class="navbar-style navbar navbar-inverse ">
  <div class="container d-flex justify-content-between">
    <a href="#" class="navbar-brand">Max Asher Nelson</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</div>


