

<div class="app-card-container">
    <div class="card card-inverse">
        <h1>Code God</h1>
        <hr>
        <div class="row">
            <div class="col-md-6">
                
                <%= image_tag "max.jpg", width: 400, alt: "profile image" %>
                <!--<img src="" width="300" alt="Profile Image">-->
            </div>
            <div class="col-md-6 abt-me">
                <p>I am 19 years old and I develop iOS apps and Websites. I attend Utah Valley University studying Computer Science. I work at Gadzoom.net as an iOS Developer</p>
            </div>
        </div> 
    </div>
</div>
