<h1>Pages#contact</h1>
<p><%= number_to_phone "801-362-7920" %></p>
<p><%= number_to_currency "9000000" %></p>
<p><%= number_to_percentage "110" %></p>
<p><%= number_with_delimiter "234343435823430" %></p>