<div class="inner cover">
  <h1 class="cover-heading animated fadeInRightBig">Professional iOS and Rails Apps.</h1>
  <p class="lead animated animated fadeInLeftBig">I can build it.</p>
  <p class="lead">
 	<%= link_to "About Me", about_me_path, class: "btn btn-info animated fadeInUpBig"%> 
  </p>
</div>
