<div class="inner cover">
  <h1 class="cover-heading">iOS + Backend Developer</h1>
  <p class="lead">I can build it.</p>
  <p class="lead">
    <%= link_to "iOS Projects", about_me_path, class: "btn btn-lg btn-secondary"%>
  </p>
</div>
