@import "bootstrap";
@import "gritter";

/*
 * Globals
 */



/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  // background-color: #333;
}
body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(0,0,0,.5);
}



h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5,
h6, .h6 {
  font-family: 'Rajdhani', sans-serif;
}



/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  margin-top: 100px;
  margin-bottom: 10px;

}

.nav-list {
  text-align: left;
}


/*
 * Header
 */

.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {

  padding: .15rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}


.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}




/*
 * Cover
 */

.cover {
  padding: 0 1.5rem;
}
.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: bold;
}


/*
 * Footer
 */

.masthead {
  position: fixed;
  top: 0;
}
.mastfoot {
  width: 100%;
  position: absolute;
  bottom: 0;
  color: rgba(255,255,255,.5);
}








/*
 * Custom Styles
 */
 
.card-block {
  color: black;
  text-align: left;
}

.auth-links a {
  color: black;
}

.register-text {
  text-align: right;
}

.login > .card {
  width: 22rem;
  margin: 0 auto;
  float: none;
  margin-bottom: 50px;
}

.app-nav span {
   margin-left: 10px;
   margin-right: 10px;
}

#background {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: image-url('street.jpg') no-repeat;
  background-size: cover;
}
//DSC08543-2

.app-footer {
  color: white;
  position: relative;
  bottom: 0;
}

.tech-news {
  color: dimgray;
  margin: 20px;
}

.tech-news a {
  color: lime;
  margin: 20px;
}

.tech-news > .card {
  background-color: white; //gainsboro
  padding: 20px;
}

.app-card-container {
  margin: 100px 20px;

}

.app-card-container > .card {
  padding: 40px 20px;
  background-color: #333; 
  border-color: #333;
}

.app-card-container a {
  color: lime;
}

.card-block {
  margin: 5px 0;
}

.skill {
  margin: 15px 0;
}

.skill h4 {
  text-align: left;
}


/*about*/

.prof-image {
  width:100%;
}

.abt-btn {
  margin: 10px 0;
}

/*contact*/
.map-row {
  margin:-top 55px;
}

.work-info > .sec {
  margin-top: 15px;
}

